{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>You would go really far in life if you learn to make you goals personal. Eric Thomas</p>
        <p>He said that and i have held on to it ever since</p>
        <p>I wake up each morning to write code and most times sleep on my laptop while writing it. My friends say I'm obsessed 👉👈😊 </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}